<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Chiper</title>
	<link rel="stylesheet" href="/bundle.css">
</head>
<body>

	<script type="text/javascript">
		var USER = <%- JSON.stringify(user) %>
	</script>
	<script type="text/javascript" src="/main.js"></script>
</body>
</html>